/* stylelint-disable selector-max-id */
body,
html {
  background-color: #eee;
  font-size: 14px;
}

.editor-container {
  background-color: #fff;
  margin: 0 auto;
  width: 700px;
}

.editor-container > .ql-toolbar {
  border: unset;
  border-bottom: 1px solid #eee;
}

#editor {
  background-color: #fff;
  border: unset;
}

.apply-comment {
  width: auto !important;
}
